<!DOCTYPE html>
<html>
  <head>
    <base  href="https://script.google.com/macros/s/AKfycbw2EcAdIWSWvzmC66CqvTkDyGsccqzC7UGOQi1LHLkVf7eLmT0/exec" target="_self">
  </head>
  <body >
      <nav >
    <div  class="nav-wrapper teal">
      <a style="padding-left: 12px;" href="navbar.html" class="brand-logo">Oltás előjegyzés</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="?">Főoldal</a></li>
        <li><a href="pages/pfizer.html">Pfizer</a></li>
        <li><a href="pages/moderna">Moderna</a></li>
        <li><a href="pages/astra">AstraZeneca</a></li>
        <li><a href="pages/sino.html">Sinopharm</a></li>
        <li><a href="pages/sputnik.html">Sputnik V</a></li>
        <li><a href="pages/janssen.html">Janssen </a></li>
      </ul>
    </div>
  </nav> 
  </body>
</html>


<!-- href="https://script.google.com/macros/s/AKfycbw2EcAdIWSWvzmC66CqvTkDyGsccqzC7UGOQi1LHLkVf7eLmT0/exec" -->